@media (min-width:744px) and (max-width:1024px) {
    .a-items {
        margin-right: 44px;
    }
     /* first section */
     .first-section-container {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .main-title {
        max-width: 630px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 900;
    }

    .first-discr {
        max-width: 630px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .action-and-text {
        align-items: center;
        justify-content: center;
        margin-bottom: 68px;
    }

    .second-discr {
        width: 370px;
        font-size: 14px;
    }

    .right-box {
        max-width: 900px;
        width: 90%;
    }

    .first-image {
        width: 100%;
        object-fit: cover;
    }
     /* second section  */
     .second-section-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .feature-box {
        max-width: 279px;
    }
    /* third section */
   .flex-container  {
        flex-direction: column;
    }
     .left-block{
        max-width: 960px;
        width: 99%;
    } 
    .left-block img{
        width:100%;
        border-radius:12px;
     }
   .right-block {
        display: flex;
        flex-direction: row;
    } 
    .title{
        max-width: 415.5px;
        margin: 64px 129px 153px 0px;
        width: 100%;
    }
    .text-block {
        max-width: 415.5px;
        width: 100%;
        margin-top: 48px;
    }

    /* fourth-section */
    .individual-box{
        width: 335px;
        background-color: #F3F3F3;
        margin-top: 30px;
        margin-bottom: 30px;
    } 
    .socials{
        margin-left: 160px;
    }
    /* fifth */
    .txt-on-pic h2{
        width: 600px;
    }
    /* footer section */
    .footer-container{
        flex-direction: column;
        padding: 45px 32px;
    }
    .flex-box{
        display: flex;
        max-width:960px;
        justify-content: space-between;
        margin-top: 48px ;
        width: 100%;
    }
}


@media(min-width: 375px) and (max-width: 744px) {
    /* header syle */
    .a-items {
        margin-right: 22px;
    }
    /* first section */
    .first-section-container {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .main-title {
        max-width: 696px;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        color: #000000;
    }

    .first-discr {
        max-width: 696px;
        margin-bottom: 24px;
    }

    .action-and-text {
        flex-direction: column;
        align-items: center;
    }

    .first-sct {
        margin-bottom: 16px;
    }

    .second-discr {
        /* width: 696px; ver vascoreb nacers ert xazze ise rom centrshi ikos*/
        margin-bottom: 24px;
    }

    .right-box {
        max-width: 696px;
        width: 90%;
    }

    .first-image {
        width: 100%;
        object-fit: cover;
    }
     /* second section  */
     .second-section-container {
        flex-direction: column;
        align-items: center;
        max-width: 744px;
    }
    .feature-box{
        margin: 30px 0px 20px 0px;
    }
    .features{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .second-section-discr{
         max-width: 744px;
        text-align: center; 
    }
    /* third section */
    .container{
        flex-direction: column;
        align-items: center;
    }
    .left-block{
        max-width: 696px;
        width: 98%;
    }
    .right-block{
        text-align: center;
    }
    .left-block img{
        width: 100%;
    }
    .title{
        margin: 29px 0;
    }
    /* fourth section  */
    .individual-box{
        width: 340px;
        background-color: #F3F3F3;
        margin-top: 48px;
        margin-bottom: 48px;
    }
    .individual-box:nth-child(3){
        background-color: red;
       display: none;
    }
    .individual-box:nth-child(1){
        margin-left: 24px;        
    }  
    /* fifth section */
    .txt-on-pic h2{
        margin-bottom: 20px;
        width: 744px;
      }
      /* footer */
    
    
}



@media (max-width:375px) {
    /* header style */
       .action,
       .ul-items {
           display: none;
       }
   
       .burger-bar {
           display: block;
       }
       /* first section style */
    .first-section-container {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .main-title {
        max-width: 327px;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        color: #000000;
    }

    .first-discr {
        max-width: 327px;
        text-align: center;
        margin-bottom: 24px;
    }

    .action-and-text {
        flex-direction: column;
        align-items: center;
    }

    .first-sct {
        display: block;
        margin-bottom: 16px;
    }

    .second-discr {
        max-width: 327px;
        margin-bottom: 24px;
    }

    .right-box {
        max-width: 327px;
        width: 90%;
    }

    .first-image {
        width: 100%;
        object-fit: cover;
    }
    /* second section  */
    .second-section-container {
        flex-direction: column;
        align-items: center;
        max-width: 375px;
    }
    .feature-box{
        margin: 30px 24px 24px 24px;
    }
    .features{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .second-section-discr{
         max-width: 375px;
        text-align: center; 
    }
/* third section */
    .container{
    flex-direction: column;
    align-items: center;
    }
    .left-block{
    max-width: 327px;
    width: 98%;
    }
.right-block{
    text-align: center;
    max-width: 327px;
    width: 98%;
    }
    .left-block img{
    width: 100%;
    }
    .title{
    margin: 14px 0;
    width: 100%;
    }
    .text-block{
    width: 100%;
    }
    /* fourth section */
    .individual-box:nth-child(2),
    .individual-box:nth-child(3){
        display: none;
     }     
     .individual-box{
        margin: 30px 24px;
     }
     .boxes-container{
        margin: 0px auto;
     }
     /* fifth */
     /* .photo-container{
     width: 375px;
     }
     .photo-container img{
        width: 100%;
    } */
     .txt-on-pic h2{
        font-family: 'Inter', sans-serif;
        font-size: 28px;
        max-width: 247px;
        margin-bottom: 20px;
     }
}